html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h4, p, span {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 1.5em;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}